body {
    background-color: black;
}












#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    margin-top: 270px;
}

h1, h2 {
    color: rgb(255, 89, 0);
    font-size: 80px;
    margin-left: -80px;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 305px;
    margin: auto;
    margin-left: 1000px;
}

.cell {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    color: white;
    font-size: 100px;
    box-shadow: 0 0 0 2px;
    line-height: 125px;
    cursor: pointer;
}

#restartButton {
    border-radius: 6%;
    background-color: blueviolet;
    margin-left: -87px;
    font-size: 50px;
    width: 200px;
    height: 100px;
    color: white;
    cursor: pointer;
}